/*********************
Base REMLAB Theme
*********************/

/* Add the c-bill symbol before the price */
.cbills::before {
    vertical-align: -2px;
	content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17'%3E%3Cpath d='M6 0h6.3a1.5 1.5 0 011.3 1.5c0 .8-.7 1.2-1.5 1.2l-5 .4-1 1h.4c2.7 0 4.3 2 4.3 4.4 0 2.3-1.6 4.4-4.3 4.4l-.4-.2L7 14l5.4.4c.8 0 1.3.4 1.3 1.3a1.5 1.5 0 01-1.3 1.4H5.9a1.5 1.5 0 01-1.1-.8l-4-7a1.5 1.5 0 010-1.5l4-7A1.5 1.5 0 015.9 0zm.5 6.2a2.3 2.3 0 000 4.6c1.4 0 2.3-1 2.3-2.3s-1-2.3-2.3-2.3z'/%3E%3C/svg%3E");
}

/* Header */

.page-header h1 {

}

/* Side bar */

/*
.page-sidebar {
    width: 25vw;
    float: left;
}
*/
/* Main  content */
/*
.page-main {
    width: 75vw;
    float: right;
}
*/

/* Section Panels */

.section-box {
    position: relative;
}

.section-button-info {

}

/* Panel Switch Component */

.panelswitch {
    position: relative;
    min-height: 6em;
}	
	
.panelswitch_button {
    
}
	
.section-body {
	top: 2.4em;
}	
	
.section-help {
	position: absolute;
	top: 2.4em;
	background: #fff;
	overflow-y: scroll;
	opacity: 0;
	transform: scale(1,0);
    transform-origin: top right;
    width: 100%;
    height: 100%;
}
	
.panel-active {
    transition: all 0.3s ease-in-out;
	opacity: 1;
	transform: scale(1,1);
	transform-origin: top right;
}

.panel-button-active {
	background: #aaa;
}

/* Hide section-totals on certain panels */
.section-Technology .section-totals,
.section-Quirks .section-totals,
.section-Warrior .section-totals,
.section-Readout .section-totals {
    display: none;
}




/*********************
Universal Elements
*********************/

/* Dialog Alert */    

.dialog-alert {
    border: none;
    width: 100%;
    height: 2.8em;
    padding: 0.8em;
    text-align: center;
    font-size: 1.4em;
    opacity: 0;
    transition: opacity 0.15s ease-in-out 0s;
    background-color: #ff3333;
}

/* Dialog Confirm */    

.dialog-confirm {
    border: none;
    width: 100vw;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    opacity: 0;
    transition: opacity 0.16s ease-in-out 0s;
}
    
.dialog-confirm div {
    max-width: 50vw;
    margin: 30vh auto 0 auto;
    padding: 1em;    
    transform: translate(0, -100%);
    background-color: #fff;
    box-shadow: 0px 10px 14px -7px rgba(0,0,0,0.8), 5px 5px 16px 5px rgba(0,0,0,0);
}
    
.dialog-confirm p {
    margin-top: 2px;
    font-size: 1.2em;
}
    
.dialog-confirm button {
    margin-right: 0.9em;
    min-width: 5em;
}

/* Dialog HTML */
    
.dialog-html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(240,240,240,0.8);
    border: none;
    opacity: 0;
    transition: opacity 0.15s ease-in-out 0s;
}
	
.dialog-top {
    max-width: 70vw;
	max-height: calc(85vh - 15vh);
    padding: 1.1em;
    margin: 0 auto 0 auto;
}
    
.dialog-body {
    max-width: 70vw;
    min-height: 16em;
	max-height: calc(85vh - 15vh);
    margin: 1vh auto 0 auto;
    padding: 1em;
    background-color: #fdfdfd;
    box-shadow: 0px 10px 14px -7px rgba(0,0,0,0.7), 5px 5px 16px 5px rgba(0,0,0,0);
	transform: scale(0.8);
    transition: transform 0.15s ease-in-out 0s;
	overflow: scroll;
}
    
#HTML_Frame {
    margin-top: -2em;
}

.dialog-html-close {
	position: absolute;
    width: 1.3em;
    height: 1.3em;
    padding: 1.4em;
	right: 0;
    top: 0;
    border: none;
    background: no-repeat center center / 1.4em;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath d='M30 24l-9-9 9-9-6-6-9 9-9-9-6 6 9 9-9 9 6 6 9-9 9 9z'/%3E%3C/svg%3E");
}

/* Dialog global classes */
    
.dialog-open {
    opacity: 1;
}

.dialog-open div {
	transform: scale(1);
}	
	
.dialog-close {
    transition: opacity 0.15s ease-out 0s;
    opacity: 0;
}
    
.disable-scroll {
    overflow: hidden;
    height: auto;
}

/* Supports backdrop-filter */
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.dialog-confirm, 
	.dialog-html {
        -webkit-backdrop-filter: grayscale(40%);
        backdrop-filter: grayscale(40%);
	}
}
    
/* Phone (Portrait) and narrow screen */
@media only screen and (min-width: 320px) and (max-width: 812px) {
    .dialog-confirm div {
        max-width: 99%;
    }
    .dialog-body {
        max-width: 99%;
		margin: 1vh auto;
		max-height: 85vh
    }
    .dialog-top {
        max-width: 99%;
		margin: 0 auto;
    }
}


/* Custom Radio and Checkbox input */

:focus + label[for]:before, 
.check-button:focus + label, 
.radio-button:focus + label,
[type="checkbox"]:focus + label.switch {
	outline: 1px dotted #222;
}	

[type="radio"], 
[type="checkbox"] {
    opacity: 0 !important;
    width: 0 !important;
	overflow: hidden;
    z-index: -1;
}

[type="radio"] + label, 
[type="checkbox"] + label {
    cursor: pointer;
    margin-right: 1.2em;
    display: inline-block;
    line-height: 1.5em;
}

[type="radio"] + label::before,
[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.4em;
    background-color: #fff;
	border: 2px solid #666;
    vertical-align: -0.2rem;
}

[type="radio"] + label:hover::before,
[type="checkbox"] + label:hover::before {
	box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
	transition: box-shadow 0.2s ease-in-out;
}

[type="radio"] + label::before {
    border-radius: 50%;
    transition: background 0.2s ease-in-out;
	background: no-repeat center center / 0.5em; 
}

[type="radio"]:checked + label::before {    
    background: no-repeat center center / 0.8em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='dimgrey'/%3e%3c/svg%3e");
}

[type="checkbox"] + label::before {
	border-radius: 0.1rem;
    transition: background-color 0.2s ease-in-out;
}

[type="checkbox"]:checked + label::before {
    background: no-repeat 50% 50% / 1em;   
    background-color: #666;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15'%3E%3Cpath d='M12 2L5 8 2 5 0 7l5 6 9-9z' fill='white'/%3E%3C/svg%3E");
}


/* Checkbox that works like a switch */

[type="checkbox"] + label.switch {
    background: #999;
    width: 2.5em;
    height: 1.5em;
    margin: 0 0.5rem;
    padding: 0;
    border-radius: 0.7rem;
    vertical-align: -0.1em;
}

[type="checkbox"] + label.switch::before {
    background-color: #ddd;
    width: 1.3rem;
    height: 1.5rem;
    transition: 0.2s ease-in-out;
    border-radius: 0.7rem;
	border: 0;
    outline: 0;
}

/* Safari Hack */
@media not all and (min-resolution:.001dpcm) { @media {
    [type="checkbox"] + label.switch::before {
        vertical-align: 0;
    }
}}

[type="checkbox"]:checked + label.switch {
    background: #090;
}

[type="checkbox"]:checked + label.switch::before {
    margin-left: 1.2em;
    background: #ddd;
    transition: 0.2s;
}



/* Checkbox and Radio Buttons */

.check-button + label, 
.radio-button + label {
    margin: 0;
	text-align: center;
    background: #fafafa;
    min-width: 3em;
}	

.check-button:checked + label, 
.radio-button:checked + label {
    background: #aaa;
}

.check-button + label::before, 
.radio-button + label::before {
    display: none;
}


/* Phone (Portrait) and narrow screen */
@media only screen and (min-width: 320px) and (max-width: 812px)  {
    [type="radio"] + label::before, 
    [type="checkbox"] + label::before {
        margin-bottom: 0.2em;
    }
    
    [type="checkbox"] + label.switch::before {
        margin-top: -0.2em;
    }
}
    
/* Printing */
@media only print {
    [type="radio"] + label::before, 
    [type="checkbox"] + label::before {
        border: 2px solid #999;
    }

    [type="radio"]:checked + label::before, 
    [type="checkbox"]:checked + label::before {
        content: "✖";
        line-height: 0.8em;
    }
}



/* input="file" button */

.file_download {
    opacity: 0 !important;
    width: 0 !important;
	padding: 0;
	overflow: hidden;
}

.file_download:focus + label {
	outline: 1px dotted #222;
}

.file_download + label::before {
    /*
	content: "\21E9";
	border-bottom: 1px solid #000;
	*/
	margin-right: 5px;
	vertical-align: -3px;
	content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19'%3E%3Cpath d='M1.8 16.7h15.6V19H1.8zm15.6-10l-7.8 7.8-7.8-7.8h4.4V0H13v6.7z'/%3E%3C/svg%3E");	
}


/* Accordion element */

.accordion > button {
    width: 100%;
    text-align: left;
    background: transparent;
    border: 0;
    border-top: 1px solid #eee;
    font-size: 1.2em;
    line-height: 1em;
    outline: none;
    padding: 0.55em;
}

.accordion > button::before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M16 9H9v7H7V9H0V7h7V0h2v7h7z'/%3E%3C/svg%3E");
    margin: 0 0.5em 0 0;
    display: inline-block;
    transition: transform 0.4s ease-in-out 0s;
    transform-origin: 50% 50%;
    will-change: transform;
}

.accordion > button.active::before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.accordion > section {
    padding: 0 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #eee;
    will-change: auto;
}

/* Stepper Increment Component */

.stepper-container {
    height: 2em;
    display: inline-block;
    border: 1px solid #999;
}
    
.stepper {
    vertical-align: top;
    width: 3em;
    height: 100%;
    font-size: 1.1em;
    text-align: center;
    border: none;
    background: transparent;
    padding: 0;
}
    
.stepper-button {
    width: 1.3em;
    height: 1.2em;
    line-height: 0.2em;
    font-size: 1.5em;
    padding: 0.2em;
    background: transparent;
    border: none;
}


/* Custom Multi Select element */

.select-list {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
	-webkit-user-select: none;
	user-select: none;
}

.select-list li {
    list-style: none;
    line-height: 0.9em;
}    
    
.select-list input {
    opacity: 0 !important;
    width: 0 !important;
	overflow: hidden;
    z-index: -1;
    position: absolute;
}

.select-list input + label::before {
    display: none;
}
    
.select-list input + label:hover {
    background-color: #fafafa;
}    

.select-list input:checked + label {
    background-color: #eee;
    font-weight: bold;
}

.select-list label {
    padding: 4px;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-list::-webkit-scrollbar {
    width: 0.8em;
}

.select-list::-webkit-scrollbar-track {
    background: #eee; 
}

.select-list::-webkit-scrollbar-thumb {
    background: #888; 
}

.select-list::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

/* Sortable tables */
.sortable thead th {
    cursor: pointer;
}

.sortable thead th:not(:empty)::after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='14'%3E%3Cpath d='M4.235 0L0 5.928h8.47zm0 14l4.234-5.928H0z' fill='%23ccc'/%3E%3C/svg%3E");
    padding-left: 3px;
}


/*********************
Responsive elements
*********************/

/* Mobile Devices */
@media only screen and (min-device-width: 320px) and (max-device-height: 1080px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Phone (Portrait) and narrow screen */
@media only screen and (min-width: 320px) and (max-width: 920px) {
    .page-sidebar, 
    .page-main {
        float: none;
        width: auto;
    }
}

/* Phone (Portrait) and narrow screen */
@media only screen and (min-width: 320px) and (max-width: 812px) {

}
/* Printing */
@media print {

}